{
  "presets": ["react-native"],
  "env": {
    "development": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-react-jsx",
        "transform-es2015-arrow-functions",
        "transform-class-properties"
      ]
    }
  }
}
